.wrap {
    height: 200vh;
}

.arrow {
    font-size: 34px;
    position: fixed;
    right: 28px;
    bottom: 38px;
    z-index: 1;
    transition: 0.3s linear;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -270px;
    height: 300px;
    background-color: black;
    z-index: -1;
    transition: 0.3s linear;
}

nav.on {
    bottom: 0;

}

.arrow.on {
    bottom: 338px;
    transform: rotate(180deg);

}